.banner {
    background: #F1EEE6;
    position: relative;
    margin-bottom: 0.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.8px 21.1px 8px 20px;
    width: 1444px;
    box-sizing: border-box;
  }
  .logo {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/trialprojects/trial-UupQ9EbqaL13LcgvmgjRfB/assets/images/a020e3f3123f592819c0baed1eafd77b7593975d?Expires=1710901634&KeyName=fn12-cdn&Signature=n_sVBMaEssWy1hnCeaFxxsoFXhw=') 50% / cover no-repeat;
    width: 216.2px;
    height: 152.2px;
  }
  .button {
    border-radius: 58px;
    background: #D0D0D0;
    margin: 17px 24.5px 17.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px 1px 24px 0;
    width: 169.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .help {
    border-radius: 58px;
    background: #D0D0D0;
    margin: 17px 22.6px 17.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px 0.8px 24px 0;
    width: 176.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .news {
    border-radius: 58px;
    background: #D0D0D0;
    margin: 19px 23.1px 15.7px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px 18.5px;
    box-sizing: border-box;
  }
  .log-in {
    border-radius: 58px;
    background: #D0D0D0;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 9.5px 0 13.3px 17px;
    width: 289.8px;
    box-sizing: border-box;
  }
  .login {
    margin: 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36px;
    line-height: 0.444;
    color: #50525F;
  }
  .desktop-1 {
    background: #FF996D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 0 9px 0;
    width: 1440px;
    box-sizing: border-box;
  }
  .account-circle {
    margin-right: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 79.9px;
    height: 75.9px;
    box-sizing: border-box;
  }
  .vector {
    width: 79.9px;
    height: 75.9px;
  }
  .search {
    border-radius: 39.4px;
    background: #D9D9D9;
    position: relative;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.1px 35.4px 8.1px 16.2px;
    width: 671.9px;
    box-sizing: border-box;
  }
  .search-2 {
    opacity: 0.42;
    margin: 13.7px 0 13.9px 0;
    display: inline-block;
    text-align: right;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36.4px;
    line-height: 0.444;
    color: #000000;
  }
  .ellipse-1 {
    border-radius: 29.8px;
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/trialprojects/trial-UupQ9EbqaL13LcgvmgjRfB/assets/images/d0514c19f0ee314c74e998cbb0cc7fdde21c3b4d?Expires=1710901634&KeyName=fn12-cdn&Signature=OWPfvvkW5JH9Yq0bnMD8LYusOn8=') 50% / cover no-repeat;
    width: 59.6px;
    height: 59.6px;
  }
  .filter-by {
    margin: 30.9px 30.4px 26.8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36px;
    line-height: 0.444;
    color: #1C1B1B;
  }
  .course-5 {
    background: #D9D9D9;
    position: relative;
    margin-right: 79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 0 74.3px 1px;
    width: 278px;
    box-sizing: border-box;
  }
  .course-6 {
    background: #D9D9D9;
    position: relative;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 0 74.3px 5px;
    width: 278px;
    box-sizing: border-box;
  }
  .course-7 {
    background: #D9D9D9;
    position: relative;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 0 74.3px 1px;
    width: 278px;
    box-sizing: border-box;
  }
  .course-8 {
    background: #D9D9D9;
    position: relative;
    padding: 17px 24px 74.3px 24px;
    width: 278px;
    box-sizing: border-box;
  }
  .course-9 {
    background: #D9D9D9;
    position: relative;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 21px 0 70.3px 5px;
    width: 278px;
    box-sizing: border-box;
  }
  .course-10 {
    background: #D9D9D9;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 1px 74.3px 0;
    width: 278px;
    box-sizing: border-box;
  }
  .customer-id {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .customer-description {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .v-id {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .customer-p-no {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .v-number {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .v-type {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .v-name {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .email-id {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .registration {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .19982019-copyright-all-rights-reserved {
    margin-right: 1px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    color: #000000;
  }
  .developed-by-spark-flex {
    margin: 0 0 33px 23px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36px;
    line-height: 0.444;
    color: #000000;
  }
  .order {
    position: relative;
    margin: 14.9px 29.5px 7.8px 0;
    padding-right: 0.5px;
    width: 246.5px;
    box-sizing: border-box;
  }
  .time {
    position: relative;
    margin: 13.9px 0 8.8px 0;
    padding-right: 0.5px;
    width: 246.5px;
    box-sizing: border-box;
  }
  .line-1 {
    background: #040404;
    margin: 0 0px 42px 0;
    width: 1440px;
    height: 1px;
  }
  .line-2 {
    background: #040404;
    margin-bottom: 19.6px;
    width: 1440px;
    height: 1px;
  }
  .course-1 {
    background: #D9D9D9;
    position: relative;
    margin-right: 78px;
    padding: 17px 27px 74.3px 27px;
    width: 278px;
    box-sizing: border-box;
  }
  .customer-name {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 28px;
    line-height: 0.571;
    color: #000000;
  }
  .course-2 {
    background: #D9D9D9;
    position: relative;
    margin-right: 71px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 21.6px 74.3px 0;
    width: 278px;
    box-sizing: border-box;
  }
  .course-3 {
    background: #D9D9D9;
    position: relative;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8.5px 15.3px 50.8px 0;
    width: 278px;
    box-sizing: border-box;
  }
  .course-4 {
    background: #D9D9D9;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 1px 74.3px 0;
    width: 278px;
    box-sizing: border-box;
  }
  .container {
    margin: 0 44px 83.7px 65px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-12 {
    margin: 0 28.5px 49.2px 19.1px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-13 {
    margin: 0 44px 83.7px 65px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-14 {
    border-radius: 19px;
    border: 1px solid #50525F;
    background: #D9D9D9;
    position: relative;
    padding: 17.5px 20px;
    box-sizing: border-box;
  }
  .container-15 {
    border-radius: 0 19px 19px 0;
    border: 1px solid #50525F;
    background: #E5E5E5;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6.2px 8.4px 8.2px 8px;
    width: 60.5px;
    height: 51px;
    box-sizing: border-box;
  }
  .container-16 {
    margin: 0 0 99.7px 30px;
    display: flex;
    flex-direction: row;
    width: 626px;
    box-sizing: border-box;
  }
  .container-17 {
    border-radius: 19px;
    border: 1px solid #50525F;
    background: #D9D9D9;
    position: relative;
    padding: 17.5px 20px;
    box-sizing: border-box;
  }
  .container-18 {
    border-radius: 0 19px 19px 0;
    border: 1px solid #50525F;
    background: #E5E5E5;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6.2px 8.4px 8.2px 8px;
    width: 60.5px;
    height: 51px;
    box-sizing: border-box;
  }
  .course {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36px;
    line-height: 0.444;
    color: #0C174E;
  }
  .button-19 {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36px;
    line-height: 0.444;
    color: #0C174E;
  }
  .button-20 {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 36px;
    line-height: 0.444;
    color: #0C174E;
  }
  .this-month {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 27px;
    line-height: 0.593;
    color: rgba(0, 0, 0, 0.77);
  }
  .polygon-1 {
    width: 44.1px;
    height: 36.7px;
  }
  .this-month-22 {
    overflow-wrap: break-word;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 27px;
    line-height: 0.593;
    color: rgba(0, 0, 0, 0.77);
  }
  .polygon-124 {
    width: 44.1px;
    height: 36.7px;
  }
  .container-25 {
    margin: 28.2px 0 25.3px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }